{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
        <div data-gb-custom-block data-tag="if">
            <div class="date">
                {{ post.published_date }}
            </div>
        <div data-gb-custom-block data-tag="else"></div>
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyohicon-remove">Delete</span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

<hr>

{% for comment in post.comment.all %}
<a href="{% url 'add_comment_to_post' %} ">Add comment</a>

<div data-gb-custom-block data-tag="for"></div>
<a class="btn btn-default" href="{% url 'comment_remove' %}"><span class="glyphicon glyphicon-remove"></span></a>
<a class="btn btn-default" href="{% url 'comment_approve' %}"><span class="glyphicon glyohicon-ok"></span></a>


    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>

<div data-gb-custom-block data-tag="empty">

    <p>No comments here yet :</p>

</div>
{% endfor %}
